{% extends 'site_base.html' %}

{% block header-title %}Account{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">

            <form action="" method="post">
                {% csrf_token %}
                <div>
                    {{ form.first_name }}
                </div>
                <div>
                    {{ form.last_name }}
                </div>
                <div>
                    {{ form.email }}
                </div>
                <div>
                    <button type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
